ota:
  url: https://api.tenclass.net/xiaozhi/ota/
  data: 
    application: 
      version: 2.0.0
    board: 
      type: bread-compact-wifi
      ip: 168.0.1.146

logger: 
  level: DEBUG
  log_dir: ./tmp


snowboy:
  detector_model: ./snowboy/resources/xiaolai.pmdl
  sensitivity: 0.6
  wake_word: 你好,小来
